body {
  /* background-image: linear-gradient(to bottom, #f8f9fa, #f2f6f9, #ecf3f7, #e6f1f4, #dfeef1, #d8eef0, #d2edef, #cbeded, #c3efed, #bbf1eb, #b4f2e9, #adf4e5); */
  background-image: url(D:\PROGRAMOWANIE\HTML,CSS,JS\PROJECTS\calendar\src\SVG\bg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  overflow-x: hidden;
}

.APP {
  height: 100vh;
  max-width: 100vw;
}

.btn:active,
 .btn:focus,
 .btn.active {
   background-image: none;
   outline: 0;
   -webkit-box-shadow: none;
   box-shadow: none;
 }

.Days {
  transition: 0.5s;
}

.taskInHoursList:hover {
  cursor: pointer;
  transition: 0.2s;
  transform: scale(1.03);
  box-shadow: 3px 2px 8px black;
}

select {
  font-family: 'FontAwesome', 'Roboto Condensed', 'sans-serif';
}

p, div, label {
  user-select: none;
}

a {
  transition: 0.7s;
}

.startSide {
  display: grid;
  background-image: linear-gradient(to bottom, #f8f9fa, #f2f6f9, #ecf3f7, #e6f1f4, #dfeef1, #d8eef0, #d2edef, #cbeded, #c3efed, #bbf1eb, #b4f2e9, #adf4e5);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.startSideSVGWrapper {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 1rem;
  box-shadow: 3px 2px 8px black;
}

.startSideSVGWrapper svg {
  max-width: 90%;
}

.center_svg {
  transform-origin: 3% 4%;
}